.logo {
    position: relative;
    top: 15px;
    margin-right: 5%;
    margin-left: 15%;
}

.nav__item {
    margin-top: 75px;
    margin-left: .5%;
}

.slider__arrows {
    position: absolute;
    top: 277px;
    width: 100%;
    height: 401px;
    background-color: #000;
    z-index: 1;
    zoom: 1;
    -ms-filter: 'alpha(opacity = 20)';
}

.slider__title {
    margin-top: 240px;
}

.slider__title,
.slider__sub-title,
.slider__paragraph {
    position: relative;
    margin-left: 15%;
    z-index: 2;
}

.slider__paragraph {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.slider__image {
    position: absolute;
    top: 261px;
    left: 63%;
    z-index: 2;
}

.slider__play-link {
    top: 410px;
    left: 63%;
    width: 78px;
    height: 76px;
    margin-left: 135px;
    border: 0;
    background: url('../img/button.png') center center no-repeat;
    z-index: 6;
}

.play-button {
    display: none;
}

.slider__switches {
    margin: 143px auto 50px;
}

.switches__custom-radio {
    background: url('../img/radio.png');
}

.switches__custom-radio:hover {
    filter: alpha(opacity = 20);
}

.switches__custom-radio[for='slide2'] {
    position: relative;
    top: 1px;
    width: 19px;
    height: 19px;
    background: url('../img/radio_custom.png');
}

.switches__custom-radio[for='slide2']:hover {
    filter: none;
}

.slider__label[for='slide1'] {
    top: 200px;
    left: 52px;
    background-image: url('../img/prev.png');
}

.slider__label[for='slide3'] {
    top: 200px;
    right: 52px;
    background-image: url('../img/next.png');
}

.columns {
    position: relative;
}

.columns_violet {
    height: 355px;
    border-bottom: 0;
}

.entity__text {
    top: 100px;
    left: -430px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: left;
}

.entity__heading_white,
.entity__text_white,
.entity__link_white {
    position: absolute;
    width: 226px;
    color: #fff;
    text-align: left;
    vertical-align: top;
}

.columns__col1 {
    left: 10%;
}

.columns__col2 {
    left: 40%;
}

.columns__col3 {
    left: 70%;
}

.entity__heading_white {
    top: 75px;
    padding-left: 50px;
}

.entity__heading_white.columns__col1 {
    left: 6%;
}

.entity__heading_white.columns__col2 {
    left: 36%;
}

.entity__heading_white.columns__col3 {
    left: 66%;
}

.entity__text_white {
    top: 100px;
}

.entity__link_white {
    top: 250px;
}

.entity__link_white.columns__col1 {
    left: 20%;
}

.entity__link_white.columns__col2 {
    left: 50%;
}

.entity__link_white.columns__col3 {
    left: 80%;
}

.entity__heading_instruments {
    background: url('../img/instruments.png');
    background-repeat: no-repeat;
}

.entity__heading_chat {
    background: url('../img/chat.png');
    background-repeat: no-repeat;
}

.entity__heading_music {
    background: url('../img/music.png');
    background-repeat: no-repeat;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    padding-top: 50px;
    border-bottom: 1px solid #e6e5e5;
}

.columns_violet ~ .wrapper {
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.entity_cite__heading,
.entity_cite__text {
    margin-left: 10%;
}


.entity_cite__heading {
    position: relative;
    top: 55px;
    left: 30px;
    color: #454545;
    z-index: 1;
}

.entity__image {
    top: 100px;
    left: 10%;
    margin-left: -25px;
    z-index: 1;
}

.entity_cite__text {
    position: absolute;
    top: 75px;
    left: 0;
    width: 370px;
    height: 230px;
    padding: 50px 30px 10px;
    background-image: url('../img/cite-bg.png');
}

.entity__switches {
    position: absolute;
    top: 375px;
    left: 20%;
}

.switches__custom-radio_light {
    width: 20px;
    height: 20px;
    border: 0;
    background-color: transparent;
    background-image: url('../img/radio-white.png');
}

.switches__custom-radio_light[for='text2'] {
    background-image: url('../img/radio-white-checked.png');
}

.updates__main-heading,
.updates__image {
    margin-left: 50%;
}

.updates__main-heading {
    margin-top: 29px;
}

.updates__image {
    margin-top: 20px;
}

.updates__text {
    top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.updates__link {
    display: block;
    position: relative;
    top: 0;
    right: 10%;
    margin-bottom: 100px;
}

.updates__main-heading,
.updates__heading,
.updates__text {
    color: #454545;
}

.partners__logo {
    margin: 30px 30px 35px;
    text-align: center;
    vertical-align: middle;
}

.partners__logo_first {
    margin-left: 15%;
}

.articles {
    background-color: #ececec;
}

.columns__col_wide ~ .entity__heading,
.columns__col_wide ~ .entity__subheading,
.columns__col_wide ~ .entity__text {
    position: relative;
    top: 50px;
    width: 250px;
    z-index: 10;
}

.columns__col_wide ~ .entity__heading.columns__col2,
.columns__col_wide ~ .entity__text.columns__col2 {
    top: -135px;
}

.columns__col_wide ~ .entity__heading.columns__col3,
.columns__col_wide ~ .entity__text.columns__col3 {
    top: -140px;
}

.columns__col_wide ~ .entity__text.columns__col1 {
    margin-bottom: -70px;
}

.columns__col_wide ~ .entity__text.columns__col2 {
    margin-bottom: -250px;
}

.columns__col_wide ~ .entity__text.columns__col3 {
    margin-bottom: -180px;
}

.footer ~ .wrapper {
    height: 120px;
    padding-top: 50px;
}

.footer__copy {
    position: absolute;
    top: 2170px;
    padding-right: 10%;
    background-color: #ececec;
    background-image: url('../img/bg-footer.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 3;
    box-sizing: border-box;
}

.nav__item_small {
    position: relative;
    top: 130px;
    margin: 15px;
    z-index: 4;
}

.nav__item_first {
    margin-left: 10%;
}
