    @font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot'); /* IE9+ Compat Modes */
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/League Gothic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'), /* Super modern browsers */
    url('../fonts/leaguegothic-regular-webfont.woff') format('woff'), /* Modern browsers */
    url('../fonts/LeagueGothic-Regular.otf') format('otf'),
    url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #f9f9f9 url('../img/bg.jpg') top center no-repeat;
    background-size: 2400px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.wrapper__item {
    display: inline-block;
    margin: 100px auto 42px 24px;
    vertical-align: top;
    box-sizing: border-box;
}

.header__logo {
    position: relative;
    top: 14px;
}

/* navigation */
.header__nav {
    display: inline-block;
    margin-top: 75px;
    margin-bottom: 174px;
    margin-left: 138px;
    -moz-transition: background .2s ease-out;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.nav {
    width: 657px;
}

.nav__item {
    display: inline-block;
    height: 28px;
    margin: 0 18px;
    padding: 0 4px;
    color: #fff;
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 154.2%;
    text-decoration: none;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, .4);
    text-transform: uppercase;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item_active,
.nav__item_main:hover {
    border-bottom: 2px solid #edbfff;
    box-sizing: border-box;
}

/* slider */

.slider {
    height: 401px;
    margin-bottom: 168px;
    background: rgba(0, 0, 0, .2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000);
    filter: alpha(opacity = 20);
    zoom: 1;
}

.entity {
    position: relative;
    color: #454545;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    text-shadow: .5px 1px 0 #fff;
}

.entity_white {
    color: #fff;
    text-shadow: 1px 1px 0 #101416;
}

.slider__entity {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 79px 0;
    box-sizing: border-box;
}

.slider__title {
    color: #fefefe;
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 59px;
}

.slider__sub-title {
    color: #edbfff;
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

.slider__paragraph {
    display: inline-block;
    width: 525px;
    margin-top: 5px;
    font-size: 112%;
    line-height: 24px;
}

.slider__media {
    position: absolute;
    top: -16px;
    left: 615px;
    z-index: 1;
}

.slider__play-link {
    display: inline-block;
    position: absolute;
    top: 152px;
    left: 140px;
    width: 60px;
    height: 60px;
    border: 5px solid #46324f;
    border-radius: 50%;
    background: transparent;
    text-decoration: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .2), inset 0 0 0 3px rgba(0, 0, 0, .2);
}

.play-button {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    background-color: #cba5da;
    cursor: pointer;
    opacity: .8;
}

.play-button::before {
    position: absolute;
    top: 18px;
    left: 23px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 21px solid #fff;
    content: '';
}

@-webkit-keyframes make-blur {
    0% {
        -webkit-filter: blur(0);
        -filter: blur(0);
    }
    25% {
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

@keyframes make-blur {
    0% {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
    25% {
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

.slider__play-link:hover {
    -webkit-animation: make-blur 1s linear;
    -moz-animation: make-blur 1s linear;
    animation: make-blur 1s linear;
}

.slider__switches {
    width: 622px;
    margin: 93px auto;
}

.switches__plain-radio {
    display: none;
}

.switches__custom-radio {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 2px;
    border-radius: 50%;
    background-color: #000;
    opacity: .35;
    box-sizing: border-box;
}

.slider__radio {
    float: right;
}

.switches__custom-radio:hover {
    opacity: .4;
}

#slide1:checked ~ .slider__switches .switches__custom-radio:nth-child(4),
#slide2:checked ~ .slider__switches .switches__custom-radio:nth-child(3),
#slide3:checked ~ .slider__switches .switches__custom-radio:nth-child(2),
#slide4:checked ~ .slider__switches .switches__custom-radio:nth-child(1) {
    border: 2px solid #000;
    background-color: #fff;
    opacity: 1;
}

 /* pixel perfect at width 1715px */
.slider__arrows {
    position: relative;
}

.slider__label {
    position: absolute;
    top: -216px;
    width: 29px;
    height: 41px;
    -moz-transition: opacity 1s ease-out, top .9s ease-out;
    -webkit-transition: opacity 1s ease-out, top .9s ease-out;
    transition: opacity 1s ease-out, top .9s ease-out;
    cursor: pointer;
}

#slide1:checked ~ #arrows label:nth-child(4),
#slide2:checked ~ #arrows label:nth-child(1),
#slide3:checked ~ #arrows label:nth-child(2),
#slide4:checked ~ #arrows label:nth-child(3) {
    display: block;
    left: 52px;
    background-image: url('../img/left-arrow.svg');
}

#slide1:checked ~ #arrows label:nth-child(2),
#slide2:checked ~ #arrows label:nth-child(3),
#slide3:checked ~ #arrows label:nth-child(4),
#slide4:checked ~ #arrows label:nth-child(1) {
    display: block;
    right: 53px;
    background-image: url('../img/right-arrow.svg');
}

/* About section (violet) */
.columns {
    text-align: center;
}

.columns_violet {
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #fff;
    background: linear-gradient(to top, #322539 0%, #745083 100%);
    text-shadow: .5px 1px 0 #0f1518;
    box-shadow: 0 14px 25px -15px rgba(0, 0, 0, .33);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#745083', EndColorStr='#322539')"; /* IE8 */
    zoom: 1;
}

.columns__col {
    display: inline-block;
    width: 226px;
    margin: 75px 0 53px 75px;
    text-align: left;
    vertical-align: top;
}

.columns__col:first-child {
    margin-right: 32px;
    margin-left: 38px;
}

.columns__col:nth-child(2) {
    margin-right: 30px;
}

.columns__col:last-child {
    margin-right: -30px;
}

.entity__heading {
    position: relative;
    margin-bottom: 3px;
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 186%;
    text-transform: uppercase;
}

.entity__text {
    margin-top: 11px;
    font-size: 99%;
    line-height: 24px;
}

.entity__link {
    margin: 17px 9px;
    float: right;
    -moz-transition: text-shadow .3s linear;
    -webkit-transition: text-shadow .3s linear;
    transition: text-shadow .3s linear;
    color: #454545;
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 116%;
    text-decoration: none;
    text-transform: uppercase;
}

.entity__link:hover {
    text-shadow: 0 0 10px #fff;
}

.entity__link_white {
    color: #fff;
}

.entity__heading_instruments::before {
    position: absolute;
    top: 8px;
    left: -51px;
    width: 24px;
    height: 29px;
    content: url('../img/instrument.svg');
}

.entity__heading_chat::before {
    position: absolute;
    top: 7px;
    left: -54px;
    width: 29px;
    height: 28px;
    content: url('../img/comment.svg');
}

.entity__heading_music::before {
    position: absolute;
    top: 5px;
    left: -56px;
    width: 29px;
    height: 30px;
    content: url('../img/music-player.svg');
}

/* light grey area */
.entity_cite {
    width: 427px;
    height: 271px;
    padding: 29px 38px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.entity_cite::before {
    position: absolute;
    top: 269px;
    right: 41px;
    width: 0;
    height: 0;
    border-top: 21px solid #fff;
    border-right: 0 solid transparent;
    border-left: 21px solid transparent;
    content: '';
}

.entity__heading_violet {
    color: #edbfff;
}

.entity__image {
    position: absolute;
    top: 17px;
    left: -24px;
}

.entity__switches {
    display: inline-block;
    position: relative;
    top: 57px;
    left: 132px;
}

.switches__custom-radio_light {
    margin: 1px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    opacity: 1;
}

.switches__custom-radio_light:hover {
    opacity: .9;
}

#text1:checked ~ .entity__switches .switches__custom-radio_light:nth-child(1),
#text2:checked ~ .entity__switches .switches__custom-radio_light:nth-child(2),
#text3:checked ~ .entity__switches .switches__custom-radio_light:nth-child(3),
#text4:checked ~ .entity__switches .switches__custom-radio_light:nth-child(4) {
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #6a6a6a;
    background-image: linear-gradient(to top, #454545 0%, #6a6a6a 100%);
    box-shadow: 0 0 5px 0 #d1d1d1;
}

.updates {
    width: 478px;
    padding: 28px 0;
    color: #454545;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    text-shadow: .5px 1px 0 #fff;
}

.updates__image {
    margin: 14px 16px 3px 29px;
    float: left;
}

.updates__main-heading {
    margin-left: 28px;
}

.updates__heading {
    display: inline-block;
    width: 273px;
    margin-top: 18px;
    font-family: 'Open Sans', sans-serif;
    font-size: 104%;
    font-weight: bold;
}

.updates__text {
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 99%;
    line-height: 24px;
}

.updates__link {
    margin: 18px 20px 17px 9px;
    float: right;
    color: #454545;
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 113%;
    text-decoration: none;
    text-transform: uppercase;
}

/* partners */
.columns_border {
    border-top: 1px solid #e6e5e5;
    border-bottom: 1px solid #e6e5e5;
}

.partners__link {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 64px;
    margin: 32px;
}

.partners__logo {
    margin: 25px 32px 30px;
    vertical-align: middle;
}

/* grey columns */
.articles {
    position: relative;
    background-color: #ececec;
    box-shadow: 0 11px 18px -6px #3e3a3a;
    z-index: 1;
}

.columns__col_wide {
    display: inline-block;
    width: 282px;
    margin: 96px 28px 92px 25px;
    vertical-align: top;
}

.columns__col_wide:first-child {
    margin-left: 0;
}

.columns__col_wide:last-child {
    margin-right: 0;
}

.entity__text_grey {
    color: #787878;
    text-shadow: 1px 2px 1px #fff;
}

.entity__heading_big {
    font-size: 46px;
}

.entity__heading_grey {
    color: #b9b9b9;
    text-shadow: 0 1px 0 #fff;
}

.entity__subheading {
    margin-top: 16px;
    color: #c5c5c5;
    font-family: Georgia, sans-serif;
    font-style: italic;
    text-shadow: 1px 2px 1px #fff;
}

/* footer */
.footer {
    position: relative;
    height: 62px;
    padding: 26px 0;
    background: url('../img/bg-footer.jpg') center no-repeat;
}

.footer__nav {
    width: 950px;
}

.nav__item_small {
    margin: 21px 19px;
    padding: 0;
    font-size: 124%;
}

.nav__item_small:first-child {
    margin-left: 0;
}

.copy {
    color: #fff;
    font-size: 12px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
}

.footer__copy {
    margin-top: -41px;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}

.copy__brandname {
    font-weight: bold;
}

@media screen and (max-width: 1190px) {
    .slider__label {
        top: 78px;
        opacity: .7;
    }
}

@media screen and (max-width: 959px) {
    body {
        background-image: url('../img/bg_768.jpg');
        background-size: 960px;
    }

    .wrapper {
        width: 768px;
    }

    .header__logo {
        top: 70px;
        left: 20px;
    }

    .header__nav {
        display: block;
        margin-top: 100px;
        margin-bottom: 73px;
        margin-left: -3px;
    }

    .slider {
        height: 400px;
        margin-bottom: 154px;
    }

    .slider__entity {
        width: 679px;
        padding: 99px 0;
    }

    .slider__title {
        font-size: 47px;
    }

    .slider__sub-title {
        width: 270px;
        margin-top: 9px;
        font-size: 24px;
        white-space: nowrap;
        overflow: hidden;
    }

    .slider__paragraph {
        width: 289px;
        height: 100px;
        margin-top: 7px;
        font-size: 16px;
        line-height: 26px;
        overflow: hidden;
    }

    .slider__media {
        top: -22px;
        left: 403px;
    }

    .slider__label {
        top: -211px;
        opacity: 1;
    }

    /* pixel perfect on 808px */

    #slide1:checked ~ #arrows label:nth-child(4),
    #slide2:checked ~ #arrows label:nth-child(1),
    #slide3:checked ~ #arrows label:nth-child(2),
    #slide4:checked ~ #arrows label:nth-child(3) {
        left: 14px;
    }

    #slide1:checked ~ #arrows label:nth-child(2),
    #slide2:checked ~ #arrows label:nth-child(3),
    #slide3:checked ~ #arrows label:nth-child(4),
    #slide4:checked ~ #arrows label:nth-child(1) {
        right: 16px;
    }

    .slider__switches {
        width: 488px;
        margin: 48px auto;
    }

    .switches__custom-radio {
        margin: 3px;
    }

    .columns__col {
        width: 165px;
        margin: 77px 17px 68px 65px;
    }

    .columns__col:first-child {
        margin-right: 12px;
        margin-left: 50px;
    }

    .entity__heading {
        font-size: 149%;
    }

    .entity__text_white {
        height: 149px;
        margin-top: 4px;
        overflow: hidden;
    }

    .entity__link {
        margin: 2px 22px;
    }

    .entity__heading_violet {
        display: block;
        margin-bottom: 7px;
    }

    .entity_cite {
        width: 312px;
        height: 271px;
        padding: 27px 22px 27px 37px;
    }

    .entity_cite::before {
        display: none;
    }

    .entity_cite__text {
        height: 150px;
        overflow: hidden;
    }

    .entity__switches {
        left: 70px;
    }

    .updates {
        width: 370px;
    }

    .updates__heading {
        width: 259px;
    }

    .updates__main-heading {
        font-size: 187%;
    }

    .updates__text {
        width: 255px;
        white-space: nowrap;
        overflow: hidden;
    }

    .updates__link {
        margin: 14px 20px;
    }

    .wrapper__item {
        margin-bottom: 50px;
    }

    .wrapper__item:first-child {
        margin-left: 45px;
    }

    .wrapper__item:last-child {
        margin-left: 24px;
    }

    .partners__logo {
        margin: 25px 26px 30px;
    }

    .columns__col_wide {
        width: 200px;
        height: 200px;
        margin: 102px 28px 97px 25px;
        overflow: hidden;
    }

    .footer {
        height: 175px;
        padding: 26px 10px 0 0;
        background: url('../img/bg-footer_768.jpg') top center no-repeat;
    }

    .nav__item_small:first-child {
        margin-left: 21px;

    }

    .footer__copy {
        width: 735px;
        margin-top: 7px;
    }
}

@media screen and (max-width: 767px) {

    body {
        background-image: url('../img/bg_480px.jpg');
    }

    .wrapper {
        width: 479px;
    }

    .header__logo {
        display: block;
        position: static;
        margin: 69px auto 94px;
    }

    .header__nav {
        position: absolute;
        top: 29px;
        left: 50%;
        width: 246px;
        margin-left: -123px;
        border: 1px solid transparent;
        border-radius: 5px;
        text-align: center;
        z-index: 4;
        box-sizing: border-box;
    }

    .header__nav:hover {
        border: 1px solid #051116;
        background-color: #36293e;
        opacity: .8;
    }

    .nav__item_main {
        display: none;
        position: relative;
        height: 43px;
        margin: 0;
        padding-top: 11px;
        box-sizing: border-box;
    }

    .nav__item_active {
        display: inline-block;
        background-color: transparent;

    }

    .nav__item_main:hover {
        border-bottom: 3px solid #edbfff;
        background-color: #131017;
    }

    .nav__item_active:hover {
        background-color: transparent;
    }

    .header__nav:hover > .nav__item_main {
        display: block;
        border-top: 1px solid #6a5272;
        box-shadow: 0 -1px 0 0 #221c25;
        box-sizing: border-box;
    }

    .header__nav:hover > .nav__item_active {
        display: inline-block;
        border-top: 0;
        box-shadow: none;
    }

    .slider {
        height: 246px;
        margin-bottom: 99px;
    }

    .slider__entity {
        width: 399px;
        padding: 93px 0;
    }

    .slider__title {
        font-size: 35px;
    }

    .slider__sub-title {
        margin-top: 4px;
        font-size: 17px;
    }

    .slider__paragraph {
        display: none;
    }

    .slider__media {
        top: -10px;
        left: 217px;
    }

    .slider__image {
        width: 192px;
    }

    .slider__play-link {
        top: 106px;
        left: 98px;
        width: 41px;
        height: 41px;
        border-width: 4px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), inset 0 0 0 2px rgba(0, 0, 0, .2);
    }

    .slider__play-link::before {
        display: none;
    }

    .play-button {
        width: 33px;
        height: 33px;
        margin: 4px;
    }

    .play-button::before {
        top: 12px;
        left: 15px;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 16px solid #fff;
    }

    .slider__arrows {
        width: 350px;
        margin: 0 auto;
    }

    .slider__label {
        top: -141px;
    }

    #slide1:checked ~ #arrows label:nth-child(4),
    #slide2:checked ~ #arrows label:nth-child(1),
    #slide3:checked ~ #arrows label:nth-child(2),
    #slide4:checked ~ #arrows label:nth-child(3) {
        left: -69px;
    }

    #slide1:checked ~ #arrows label:nth-child(2),
    #slide2:checked ~ #arrows label:nth-child(3),
    #slide3:checked ~ #arrows label:nth-child(4),
    #slide4:checked ~ #arrows label:nth-child(1) {
        right: -69px;
    }

    .slider__switches {
        width: 97px;
        margin-top: 23px;
    }

    .columns__col,
    .columns__col:last-child {
        display: block;
        width: 81%;
        margin: 53px 22px 0 88px;
    }

    .columns__col:first-child {
        margin-top: 79px;
        margin-left: 88px;
    }

    .columns__col:last-child {
        margin-bottom: 98px;
    }

    .wrapper__item {
        margin-top: 70px;
        margin-bottom: -8px;
    }

    .wrapper__item:last-child {
        margin-bottom: 47px;
        margin-left: 54px;
    }

    .entity__text_white {
        height: 76px;
    }

    .entity__link {
        margin: 8px 34px;
    }

    .entity_cite {
        width: 86%;
    }

    .entity_cite__heading {
        font-size: 180%;
    }

    .entity__heading_violet {
        display: inline-block;
    }

    .entity_cite__text {
        height: 203px;
    }

    .entity__switches {
        top: 16px;
        left: 116px;
    }

    .updates__link {
        margin: 14px 11px;
    }

    .partners {
        padding: 35px 35px 10px 38px;
    }

    .partners__logo {
        margin: -1px 26px 30px;
    }

    .articles {
        padding-top: 32px;
        padding-bottom: 72px;
    }

    .entity__subheading {
        display: none;
    }

    .columns__col_wide,
    .columns__col_wide:first-child,
    .columns__col_wide:last-child {
        width: 90%;
        height: 133px;
        margin: 47px 28px 8px 25px;
    }

    .nav__item_small {
        margin: 21px 11px;
    }

    .footer__copy {
        width: auto;
        text-align: center;
    }
}

@media screen and (max-width: 479px) {
    .wrapper {
        width: auto;
    }

    .header__nav {
        top: 32px;
    }

    .nav__item_small {
        display: none;
    }

    .slider {
        margin-bottom: 67px;
        background-color: transparent;
    }

    .slider__entity {
        width: 186px;
    }

    .slider__sub-title {
        width: 194px;
    }

    .slider__media {
        display: none;
    }

    .slider__arrows {
        width: 184px;
    }

    .slider__switches {
        margin-top: -15px;
    }

    .articles {
        display: none;
    }

    .columns__col,
    .columns__col:first-child,
    .columns__col:last-child {
        width: 70%;
        margin-top: 71px;
        margin-left: 83px;
    }

    .entity__link {
        margin: 10px 13px;
    }

    .columns__col:last-child {
        margin-bottom: 73px;
    }

    .entity_cite {
        width: 76%;
    }

    .entity_cite__heading {
        font-size: 146%;
    }

    .entity__heading_violet {
        display: block;
    }

    .entity_cite__text {
        height: 166px;
        margin-top: 3px;
    }

    .entity__switches {
        top: 49px;
        left: 60px;
    }

    .switches__custom-radio_light {
        margin: 1px;
    }

    .wrapper__item:last-child {
        display: block;
        margin: 70px auto 93px;
    }

    .updates {
        width: 320px;
    }

    .updates__heading {
        width: 157px;
        white-space: nowrap;
        overflow: hidden;
    }

    .updates__text {
        width: 220px;
    }

    .updates__link {
        margin: 13px 72px;
    }

    .partners {
        padding: 26px 0 39px;
    }

    .partners__logo {
        margin: 25px 26px 30px;
    }

    .partners__logo:first-child {
        margin-left: 38px;
    }

    .partners__logo:nth-child(5) {
        margin-right: 11px;
        margin-left: 45px;
    }

    .footer__copy {
        margin-top: 14px;
    }
}
